$primary: #8cc63e;
$checkmarkColor: white;
$size: 150px;
$checkmarkFat: 3px;

body {
  padding: 20px;
}

ul.checkmark li {
        font-size: 16px; 
        list-style-type: none;
        margin-bottom: 1em;
        padding: 0.25em 0 0 2.5em; 
        position: relative; 
      }
ul.checkmark li {
    font-size: 16px; 
    list-style-type: none; 
    margin-bottom: 1em; 
    padding: 0.25em 0 0 2.5em; 
    position: relative; 
  }

ul.checkmark li:after {
    content: " ";
    display: block;
    width: 0.3em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.2em 0.2em 0;
    position: absolute;
    left: 1em;
    top: 40%;
    margin-top: -0.2em;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
 
  ul.checkmark li:after {
    content: " ";
    display: block;
    width: 0.3em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.2em 0.2em 0; 
    position: absolute;
    left: 1em;
    top: 40%;
    margin-top: -0.2em;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }